## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [15]:
# Your code here

#To choose a sample from a range of integers, use a range() object as an argument. 
#This is especially fast and space efficient for sampling from a large population: sample(range(10000000), k=60).


sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

[6, 1, 46, 34, 5, 26, 60, 62, 63, 80, 41, 27, 79, 73, 16, 20, 14, 69, 2, 18, 82, 25, 44, 45, 12, 37, 58, 24, 7, 19, 23, 55, 96, 53, 66, 78, 17, 67, 22, 95, 75, 94, 93, 54, 92, 98, 33, 87, 8, 70, 39, 32, 31, 52, 97, 99, 85, 57, 74, 50, 89, 61, 13, 49, 90, 56, 91, 29, 35, 72, 59, 4, 38, 64, 11, 81, 83, 3, 40, 36]
<class 'list'>

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here

print(type(sample_list_1))

set1 = set(sample_list_1)
print(set1)

print(type(set1))

print(len(set1))

len(set1) == len(sample_list_1)

<class 'list'>
{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 70, 72, 73, 74, 75, 78, 79, 80, 81, 82, 83, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
<class 'set'>
80

True

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [42]:
# Your code here

# random.randint(a, b): returns a random integer N such that a <= N <= b. Alias for randrange(a, b+1).


def sample_list_2(num = 80, start = 0, end = 100):
    arr = []
    tmp = random.randint(start, end)
      
    for x in range(num):
        while tmp in arr:
            tmp = random.randint(start, end)
        arr.append(tmp)
          
    #arr.sort()
      
    return arr
   

print(sample_list_2(80))

print(len(sample_list_2(80)))

len(sample_list_2(80)) == len(sample_list_1)

[18, 60, 29, 3, 0, 70, 17, 9, 57, 25, 44, 95, 1, 42, 51, 13, 76, 48, 78, 81, 49, 20, 37, 75, 91, 69, 77, 93, 33, 7, 82, 56, 39, 5, 71, 96, 90, 16, 10, 30, 64, 41, 4, 59, 35, 2, 54, 87, 50, 24, 47, 15, 72, 31, 53, 84, 28, 6, 12, 88, 97, 85, 21, 14, 65, 92, 55, 52, 100, 34, 19, 80, 22, 11, 32, 40, 43, 27, 46, 61]
80

True

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [43]:
# Your code here

set2 = set(sample_list_2(80))
print(set2)

{0, 1, 2, 3, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 28, 29, 30, 32, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 51, 53, 54, 55, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99, 100}

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [57]:
# Your code here

#Find all the elements that set 1 has that set 2 does not have, by using the difference() function

set3 = set1.difference(set2)

print(set3)

{33, 36, 69, 6, 91, 49, 50, 81, 20, 52, 56, 27, 93, 62, 31}
15

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [49]:
# Your code here

#Find all the elements that set 2 has that set 1 does not have, by using the difference() function
set4 = set2.difference(set1)

print(set4)

{0, 65, 100, 10, 42, 43, 76, 77, 15, 48, 51, 86, 88, 28, 30}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [50]:
# Your code here

#Fin all the elements in common between set 1 and set 2, by using the intersection() function

set5 = set1.intersection(set2)

print(set5)

{1, 2, 3, 4, 5, 7, 8, 11, 12, 13, 14, 16, 17, 18, 19, 22, 23, 24, 25, 26, 29, 32, 34, 35, 37, 38, 39, 40, 41, 44, 45, 46, 53, 54, 55, 57, 58, 59, 60, 61, 63, 64, 66, 67, 70, 72, 73, 74, 75, 78, 79, 80, 82, 83, 85, 87, 89, 90, 92, 94, 95, 96, 97, 98, 99}

#### 8 - Create an empty set called `set6`.

In [51]:
# Your code here

print("Create a new set:")

set6 = set()

print(set6)

print(type(set6))

Create a new set:
set()
<class 'set'>

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [89]:
# Your code here

set3 = {33, 36, 69, 6, 91, 49, 50, 81, 20, 52, 56, 27, 93, 62, 31}
set5 = {1, 2, 3, 4, 5, 7, 8, 11, 12, 13, 14, 16, 17, 18, 19, 22, 23, 24, 25, 26, 29, 32, 34, 35, 37, 38, 39, 40, 41, 44, 45, 46, 53, 54, 55, 57, 58, 59, 60, 61, 63, 64, 66, 67, 70, 72, 73, 74, 75, 78, 79, 80, 82, 83, 85, 87, 89, 90, 92, 94, 95, 96, 97, 98, 99}

print(len(set3))
print(len(set5))

# The update() function demonstrates how to add the contents of a list to a set. 

#Alternative1: we use the | operator (or |= operator) to concatenate two sets. This returns a new set.

print('Alternative 1:')

set6 = set3 | set5

print(set6)
print(len(set6))


#Alternative2: we use the union() function to merge the contents of sets 5 and 6 and return a new set.

print('Alternative 2:')

set6 = set3.union(set5)
print(set6)

15
65
Alternative 1:
{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 70, 72, 73, 74, 75, 78, 79, 80, 81, 82, 83, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
80
Alternative 2:
{1, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 70, 72, 73, 74, 75, 78, 79, 80, 81, 82, 83, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [62]:
# Your code here

set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [66]:
# Your code here

set1 
set2
set3

print(set2.issubset(set1))

print(set3.issubset(set1))


#Return False if set1 does not contain set2 or set3
#Return True if set1 contains set2 or set3

False
True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [87]:
# Your code here

print('Union of set3, set4, and set5:')
set7 = set3.union(set4).union(set5)
print(set7)


print('Aggregate set1 and set2 to set7:')
set8 = set7.union(set1).union(set2)
print(set8)

Union of set3, set4, and set5:
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
Aggregate set1 and set2 to set7:
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [80]:
# Your code here

#The pop() method removes an arbitrary element from the set and returns the element removed.

set1.pop()
print(set1)


#If we specify the position or the element to be removed from set1 with pop, an error will be triggered.

set1.pop(1)
print(set1)

{12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 70, 72, 73, 74, 75, 78, 79, 80, 81, 82, 83, 85, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

TypeError: set.pop() takes no arguments (1 given)

In [81]:
#We take sample_list_1, which is a list, and we indicate the position of the element that we want to remove from the
#list by using pop function

sample_list_1 = [6, 1, 46, 34, 5, 26, 60, 62, 63, 80, 41, 27, 79, 73, 16, 20, 14, 69, 2, 18, 82, 25, 44, 45, 12, 
                 37, 58, 24, 7, 19, 23, 55, 96, 53, 66, 78, 17, 67, 22, 95, 75, 94, 93, 54, 92, 98, 33, 87, 8, 70, 
                 39, 32, 31, 52, 97, 99, 85, 57, 74, 50, 89, 61, 13, 49, 90, 56, 91, 29, 35, 72, 59, 4, 38, 64, 
                 11, 81, 83, 3, 40, 36]

sample_list_1.pop(0)
print(sample_list_1)

[1, 46, 34, 5, 26, 60, 62, 63, 80, 41, 27, 79, 73, 16, 20, 14, 69, 2, 18, 82, 25, 44, 45, 12, 37, 58, 24, 7, 19, 23, 55, 96, 53, 66, 78, 17, 67, 22, 95, 75, 94, 93, 54, 92, 98, 33, 87, 8, 70, 39, 32, 31, 52, 97, 99, 85, 57, 74, 50, 89, 61, 13, 49, 90, 56, 91, 29, 35, 72, 59, 4, 38, 64, 11, 81, 83, 3, 40, 36]

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [82]:
# Your code here

# Elements to be deleted from set1 -> this is a list
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# Remove all elements of list_to_remove from the set1

set1.difference_update(list_to_remove)

print('Modified Set1:')
print(set1)

Modified Set1:
{12, 13, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 32, 33, 34, 35, 36, 37, 38, 40, 44, 45, 46, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 78, 80, 82, 83, 85, 87, 90, 92, 93, 94, 95, 96, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [84]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [93]:
# Your code here

father_set = set(father_list)
print(father_set)

mother_set = set(mother_list)
print(mother_set)

jo_set = set(Jo_list)
print(jo_set)

carlos_set = set(Carlos_list)
print(carlos_set)

mattia_set = set(Mattia_list)
print(mattia_set)

{'toilet paper', 'gums', 'cucumber', 'yogurt', 'onions', 'flour', 'watermelon', 'garlic'}
set()
{'juice', 'gums', 'blueberries', 'tomatoes', 'cucumber', 'yogurt', 'onions', 'milk', 'watermelon', 'garlic', 'sugar'}
{'water', 'toilet paper', 'blueberries', 'tomatoes', 'onions', 'flour', 'cherries', 'garlic'}
set()

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [95]:
# Your code here

#s.symmetric_difference(t) -> new set with elements in either s or t but not both

mattia_set = carlos_set.symmetric_difference(jo_set)
print(mattia_set)

{'water', 'juice', 'gums', 'toilet paper', 'cucumber', 'yogurt', 'milk', 'flour', 'cherries', 'watermelon', 'sugar'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [97]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['sugar', 'flour', 'toilet paper', 'chocolate', 'oranges', 'oranges', 'mushrooms', 'deodorant', 'juice', 'garlic']

In [99]:
# Your code here

print(type(mother_list))

#You can get unique values by converting the list to a set. Sets don't allow repetition. 
#Hence the repitition 'oranges'was removed

mother_set = print(set(mother_list))

<class 'list'>
{'juice', 'toilet paper', 'oranges', 'deodorant', 'mushrooms', 'flour', 'garlic', 'sugar', 'chocolate'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [316]:
# Your code here

#1. Print each single list

print('Father list is:') 
print(father_list)

print('Mother list is:') 
print(mother_list)

print('Jo list is:') 
print(Jo_list)

print('Carlos list is:') 
print(Carlos_list)

print('Mattia list is:') 
print(list(mattia_set))

Father list is:
['garlic', 'watermelon', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']
Mother list is:
['sugar', 'flour', 'chocolate', 'oranges', 'oranges', 'mushrooms', 'deodorant', 'juice', 'garlic']
Jo list is:
['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']
Carlos list is:
['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']
Mattia list is:
['water', 'juice', 'gums', 'toilet paper', 'cucumber', 'yogurt', 'milk', 'flour', 'cherries', 'watermelon', 'sugar']

In [317]:
#2. Remove toilet paper from each list 

(list(mattia_set)).remove('toilet paper')
print(list(mattia_set))

['water', 'juice', 'gums', 'toilet paper', 'cucumber', 'yogurt', 'milk', 'flour', 'cherries', 'watermelon', 'sugar']

In [318]:
#2.1 Using + operator to create a grocery_list

print('Grocery list is:')
      
grocery_list1 = father_list + mother_list + Jo_list + Carlos_list + list(mattia_set)
print(grocery_list1)

Grocery list is:
['garlic', 'watermelon', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic', 'sugar', 'flour', 'chocolate', 'oranges', 'oranges', 'mushrooms', 'deodorant', 'juice', 'garlic', 'blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt', 'tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper', 'water', 'juice', 'gums', 'toilet paper', 'cucumber', 'yogurt', 'milk', 'flour', 'cherries', 'watermelon', 'sugar']

In [319]:
#2.2 Create a grocery list with a for loop

grocery_list2 = father_list + mother_list + Jo_list + Carlos_list + list(mattia_set)

for i in range(0):
    grocery_list2.append([grocery_list2])
    
print(grocery_list2)

['garlic', 'watermelon', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic', 'sugar', 'flour', 'chocolate', 'oranges', 'oranges', 'mushrooms', 'deodorant', 'juice', 'garlic', 'blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt', 'tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper', 'water', 'juice', 'gums', 'toilet paper', 'cucumber', 'yogurt', 'milk', 'flour', 'cherries', 'watermelon', 'sugar']

In [320]:
grocery_list1 == grocery_list2

True

In [321]:
#Use the .discard() method to remove from each set created before the 'toilet paper'.

#Remove() only removes the first item from the list where its value is equal to the specified value to remove

#grocery_list2.remove('toilet paper')
#print(grocery_list2)

#Use a for loop to remove all items from the list where the value is equal to toilet paper

print([i for i in grocery_list2 if i != 'toilet paper'])

['garlic', 'watermelon', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic', 'sugar', 'flour', 'chocolate', 'oranges', 'oranges', 'mushrooms', 'deodorant', 'juice', 'garlic', 'blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt', 'tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'water', 'juice', 'gums', 'cucumber', 'yogurt', 'milk', 'flour', 'cherries', 'watermelon', 'sugar']

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [334]:
# Your code here

grocery_set2 = print(set(grocery_list2))

print(len(set(grocery_list2)))

{'juice', 'gums', 'water', 'blueberries', 'cucumber', 'yogurt', 'milk', 'flour', 'oranges', 'toilet paper', 'deodorant', 'tomatoes', 'onions', 'cherries', 'mushrooms', 'watermelon', 'garlic', 'sugar', 'chocolate'}
19

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [345]:
# Your code here

grocery_set2 = {'juice', 'gums', 'water', 'blueberries', 'cucumber', 'yogurt', 'milk', 'flour', 'oranges', 
                 'toilet paper', 'deodorant', 'tomatoes', 'onions', 'cherries', 'mushrooms', 'watermelon', 
                 'garlic', 'sugar', 'chocolate'}

print(type(grocery_set2))

#Print a random grocery list of 5 items

n = 14

for i in range(n):
    grocery_set2.pop()
    
print(grocery_set2)

<class 'set'>
{'flour', 'watermelon', 'garlic', 'sugar', 'chocolate'}

In [329]:
# declaring list
grocery_list3 = ['juice', 'gums', 'water', 'blueberries', 'cucumber', 'yogurt', 'milk', 'flour', 'oranges', 
                 'toilet paper', 'deodorant', 'tomatoes', 'onions', 'cherries', 'mushrooms', 'watermelon', 
                 'garlic', 'sugar', 'chocolate']
  
# initializing the value of n
n = 5
  
# traversing and printing random elements
for i in range(n):
    print(random.choice(grocery_list3), end = " ")

flour oranges deodorant sugar onions